html{
    height: 100%;
    width: 100%;
}

body{

    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    padding: 2%;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-left: 120px;
    
}

.header img{
    height: 100px;
    width: auto;
}

.header .top-right-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero{
    display: flex;
    color: white;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    justify-content: space-evenly;
    margin: 2% , 40%;

}

.hero .maintext{S
    flex-wrap: wrap;
    width: 500px;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
    width: 550px;
}

.hero img{
    height: auto;
    width: 400px;
}

.hero button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    font-size: 18px;
    justify-content: center;
}