html{
    height: 100%;
    width: 100%;
}

body{

    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    padding: 2%;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-left: 120px;
    
}

.header img{
    height: 100px;
    width: 200px;
}

.header .top-right-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero{
    display: flex;
    color: white;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    justify-content: space-evenly;
    margin: 2% , 40%;

}

.hero .maintext{
    flex-wrap: wrap;
    width: 400px;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
    width: 510px;
}

.hero img{
    height: auto;
    width: 400px;
}

.hero button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    font-size: 18px;
    justify-content: center;
}

.information{
    margin-top: 60px;
    background-color: #F9FAF8;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    
}

.information .m{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.information .images{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.information .images img{
    WIDTH: 200px;
    height: 200px;
}

.information .images .img1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    WIDTH: 200px;
}

.information .images .img2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    WIDTH: 200px;
}

.information .images .img3{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    WIDTH: 200px;
}

.information .images .img4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    WIDTH: 200px;
}

.information .images h3{
    font-size: 20px;
}

.information .images p{
    font-size: 16px;
}


.quote{
    background-color: #E5E7EB;
    font-size: 14px;
    color: #1F2937;
    font-style: italic;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
}


.quote .signature{
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    font-size: 16
}
.action{
    background-color: #3882F6;
    

}